<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>addPage</title>
</head>
<body>


<div align="center">

<br>
<form action="addDetailes" method="post">

<h2>MOVIE</h2>

<h3>NAME : <input type=text placeholder="enter the movie name" name="name"> </h3>
<h3>RATING : <input type=number placeholder="enter the movie rating" name="rating"> </h3>
<h3>GENRE : <input type=text placeholder="enter the movie genre" name="genre"> </h3>
<h3>IMG : <input type=text placeholder="enter the movie imgLink" name="imgLink"> </h3>

<button>SUBMIT</button>
</form>
<br>
<a href="/main"><button>BACK</button></a>

</div>




</body>
</html>